		
		*
		{

			box-sizing: border-box;
			margin: 0;
			padding: 0;

		}

		.pagewrap
		{
			max-width: 100%;
			min-height: 100vh;
			position: relative;
			z-index: 1;
			transition: 1s;
			
		}

		.pagewrap-overlay
		{
			background-color: white;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;

		}

		.content
		{
			width: 600px;
			margin: 0 auto;
			padding: 10vh 0;
			transition: 1s;
		}

		header
		{
			background-color: lightblue;
			width: 100%;
			height: 150px;
			text-align: center;
			position: relative;
			transition: 1s;
		}

		header:after
		{
			content: "";
			position: absolute;
			bottom: -11px;
			left: 0;
			width: 100%;
			height: 30px;
			background-color: white;
			z-index: 1;
			transform: skewY(2deg);
			transition: 1s;
		}

		header h1
		{
			text-transform: uppercase;
			font-size: 40px;
			letter-spacing: 1px;
			transition: 1s;
			margin-left: -30px;
		}

		header h3
		{
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: 2px;
			margin-top: 10px;
			transition: 1s;
		}

		.header-content
		{
			position: absolute;
			top: 30%;
			left: 33%;
			transform: translate(-50%;, -50%);
			transition: 1s;
		}

		.text
		{
			font-weight: 600;
			transition: 1s;

		}

		section
		{
			position: relative;
			height: 730px;
			transition: 1s;
		}

		form
		{
			margin: 0 auto;
			max-width: 100%;
			background-color: #222;
			height: 100%;
			opacity: 0.8;
			padding: 60px 0;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			transition: 1s;
		}

		.text,select
		{
			display: block;
			width: 90%;
			height: 60px;
			background: transparent;
			border: 1px solid #555;
			border-radius: 5px;
			margin: 0 auto;
			font-size: 18px;
			color: white;
			letter-spacing: 2px;
			padding-left: 20px;
			margin-top: 20px;
			transition: 1s;

		}

		input[type=file]::-webkit-file-upload-button
		{
			
			width: 20%;
			height: 50%;
			margin-top: 15px;
			border: none;
			transition: 1s;
			display: block;
			background: transparent;
			color: transparent;

		}

		.tt
		{
			display: block;
			width: 60%;
			height: 60px;
			background: transparent;
			border: 1px solid #555;
			border-radius: 5px;
			margin: 0 auto;
			font-size: 18px;
			color: white;
			letter-spacing: 2px;
			padding-right: 20px;
			margin-top: 20px;
			transition: 1s;
		}


		.fa
		{
			margin-top: 30px;
			color: deepskyblue;
			float: right;
			margin-left: 60px;

		}

		h1
		{
			margin-right: 40px; 
		}


		select option
		{
			color: black;

		}

		input:focus
		{
			outline: white;

		}

		::-webkit-input-placeholder
		{
			color: white;

		}

		select
		{
			-moz-appearance:none;
			-webkit-appearance:none;
		}

		select::-ms-expand
		{
			display: none;

		}

		input[type=submit]
		{
			background: linear-gradient(to right, #fal, #fcl);
			width: 30%;
			height: 65px;
			border: none;
			border-radius: 5px;
			background-color: deepskyblue;
			left: 35%;
			margin: 0;
			font-size: 15px;
			color: white;
			letter-spacing: 3px;
			display: block;
			text-transform: uppercase;
			font-weight: 900;
			position: relative;
			top: 55px;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			cursor: pointer;
			transition: 1s; 
		}

		input[type=submit]:hover
		{
			background-color: yellow;
			color: black;
		}


@media screen and (max-width: 900px)
{
	
	.content
		{
			width: 400px;
			margin: 0 auto;
			padding: 10vh 0;
		}

		header
		{
			background-color: lightblue;
			width: 100%;
			height: 90px;
			text-align: center;
			position: relative;
		}

		header h1
		{
			text-transform: uppercase;
			font-size: 25px;
			letter-spacing: 1px;
		}


		.header-content
		{
			position: absolute;
			top: 20%;
			left: 36%;
			transform: translate(-50%;, -50%);
		}

		.text
		{
			font-weight: 600;
			font-size: 10px;
			padding-bottom: 5px;
		}

		form
		{
			margin: 0 auto;
			max-width: 100%;
			background-color: #222;
			height: 104%;
			opacity: 0.8;
			padding: 40px 0;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}

		section
		{
			position: relative;
			height: 550px;
			transition: 1s;
		}


		.text,select
		{
			display: block;
			width: 70%;
			height: 50px;
			background: transparent;
			border: 1px solid #555;
			border-radius: 5px;
			margin: 0 auto;
			font-size: 13px;
			color: white;
			letter-spacing: 2px;
			padding-left: 20px;
			margin-top: 15px;

		}

		input[type=submit]
		{
			background: linear-gradient(to right, #fal, #fcl);
			width: 25%;
			height: 40px;
			border: none;
			border-radius: 5px;
			background-color: deepskyblue;
			left: 38%;
			margin: 0;
			font-size: 10px;
			color: white;
			letter-spacing: 3px;
			display: block;
			text-transform: uppercase;
			font-weight: 900;
			position: relative;
			top: 30px;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			cursor: pointer;
			transition: 0.5s; 
		}

		input[type=file]::-webkit-file-upload-button
		{
			
			width: 40%;
			height: 40%;
			margin-top: 15px;
			border: none;
			transition: 1s;
			display: block;
			background: transparent;
			color: transparent;

		}

		.tt
		{
			display: block;
			width: 50%;
			height: 50px;
			background: transparent;
			border: 1px solid #555;
			border-radius: 5px;
			margin: 0 auto;
			font-size: 15px;
			color: white;
			letter-spacing: 2px;
			padding-right: 70px;
			margin-top: 20px;
			margin-left: 60px;
			transition: 1s;
		}


		.fa
		{
			margin-top: 35px;
			color: deepskyblue;
			float: right;
			margin-right: 25px;
			margin-left: -30px;

		}


}